.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imageArea{
    width: var(--pageWidth);
    img{
        width:100%;
        object-fit: cover;
        max-height: 200px;
    }
}

.cardHolder{
    width: var(--pageWidth);
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    

    @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: center;
    }
}