/* Import Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

/* Card container styles: vertical layout */
.container {
  display: flex;
  flex-direction: column;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  @media screen and (max-width:768px) {
    width: 60vw;
  }
}

/* Bottom text area styles */
.bottomText {
  /* Optional border for debugging */
  /* border: rgb(0, 255, 0) 2px solid; */
  width: 100%;
  background-color: rgb(168, 168, 168);
  opacity: 70%;
  padding:10px;

  display: flex;
  flex-direction: column;

  color: black;
  /* Title text styles */
  .title {
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  /* Subtitle text styles */
  .subtitle {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
}
